# Our stuff
/log

# App artifacts
/_build
/db
/deps
/*.ez

# Generated on crash by the VM
erl_crash.dump

# Generated on crash by NPM
npm-debug.log

# Static artifacts
/assets/node_modules

# Since we are building assets from assets/,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static/

# Files matching config/*.secret.exs pattern contain sensitive
# data and you should not commit them into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets files as long as you replace their contents by environment
# variables.
/config/*.secret.exs

.DS_Store
.elixir_ls/

bin/KindleUnbpack/lib/*.pyc
bin/KindleUnpack/lib/compatibility_utils\.pyc

bin/KindleUnpack/lib/mobi_cover\.pyc

bin/KindleUnpack/lib/mobi_dict\.pyc

bin/KindleUnpack/lib/mobi_header\.pyc

bin/KindleUnpack/lib/mobi_html\.pyc

bin/KindleUnpack/lib/mobi_index\.pyc

bin/KindleUnpack/lib/mobi_k8proc\.pyc

bin/KindleUnpack/lib/mobi_k8resc\.pyc

bin/KindleUnpack/lib/mobi_nav\.pyc

bin/KindleUnpack/lib/mobi_ncx\.pyc

bin/KindleUnpack/lib/mobi_opf\.pyc

bin/KindleUnpack/lib/mobi_pagemap\.pyc

bin/KindleUnpack/lib/mobi_sectioner\.pyc

bin/KindleUnpack/lib/mobi_split\.pyc

bin/KindleUnpack/lib/mobi_uncompress\.pyc

bin/KindleUnpack/lib/mobi_utils\.pyc

bin/KindleUnpack/lib/unipath\.pyc

bin/KindleUnpack/lib/unpack_structure\.pyc

# VS Code
.vscode/settings.json
