<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="turbolinks-cache-control" content="no-cache">
    <meta name="csrf-token" content="<%= get_csrf_token() %>">
    <meta name="csrf-param" content="_csrf_token">

    <meta name="description" content="Get the hottest Hacker News articles deliviered in a beatiful ebook to you, every weekend.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="hackernews.mobi">
    <meta property="og:url" content="http://www.hackernews.mobi">
    <meta property="og:image" content="http://www.hackernews.mobi/images/glasses.png">
    <meta property="og:description" content="Get the hottest Hacker News articles deliviered in a beatiful ebook to you, every weekend.">

    <title>fetch |> convert |> deliver</title>
    <link rel="icon" href="favicon.ico">
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <link href='https://fonts.googleapis.com/css?family=Leckerli+One' rel='stylesheet'>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104703774-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-104703774-3');
    </script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">HNmobi</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link "Login", to: page_path(@conn, :index), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">About</a>
          </li>
          <li class="nav-item">
            <%= link "Sponsors", to: page_path(@conn, :sponsors), class: "nav-link" %>
          </li>
        </ul>
      </div>
    </nav>

    <div class="my-container">
    
      <main class="container pb-5" role="main">
        <div class="row justify-content-center">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </main>

      <footer class="footer text-center">
        <span class="muted">
          <%= if Mix.env == :dev do %>
            
              <a href="<%= page_path(@conn, :index) %>">Home</a> |
              <a href="<%= page_path(@conn, :top) %>">Articles</a> |
              <a href="<%= debug_path(@conn, :index) %>">Debug</a>
          <% end %>
          # build with <a href="https://elixir-lang.org">💖</a> &amp; <a href="http://phoenixframework.org">🐦🔥</a> by two friends</span>
      </footer>

    </div>
  </body>
</html>
