<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="turbolinks-cache-control" content="no-cache">

    <meta name="csrf-token" content="<%= get_csrf_token() %>">
    <meta name="csrf-param" content="_csrf_token">

    <meta name="description" content="Get the hottest Hacker News articles deliviered in a beatiful ebook to you, every weekend.">

    <meta property="og:title" content="hackernews.mobi">
    <meta property="og:url" content="http://www.hackernews.mobi">
    <meta property="og:image" content="http://www.hackernews.mobi/images/glasses.png">
    <meta property="og:description" content="Get the hottest Hacker News articles deliviered in a beatiful ebook to you, every weekend.">

    <link rel="icon" href="favicon.ico">

    <title>fetch |> convert |> deliver</title>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <link href='https://fonts.googleapis.com/css?family=Leckerli+One' rel='stylesheet'>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>

    <div class="container-fluid h-100 d-flex flex-column">
      
      <main class="row" role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <footer class="row mr-auto ml-auto">
      <div class="col">
        <%= if Mix.env == :dev do %>
          <p>
            <a href="<%= page_path(@conn, :index) %>">Home</a> |
            <a href="<%= page_path(@conn, :top) %>">Articles</a> |
            <a href="<%= debug_path(@conn, :index) %>">Debug</a>
          </p>
        <% end %>
        <p># build with <a href="https://en.wikipedia.org/wiki/Darmstadt">💖</a> &amp; <a href="http://phoenixframework.org">🐦🔥</a> by <a href="https://twitter.com/jsbeckr">jens</a> &amp; <a href="https://twitter.com/jnslrk">jens</a></p>
      </footer>

    </div>
  </body>
</html>
