<div class="col">
  <div class="row">
    <div class="col">[Nice info graphic]</div>
    <div class="col">
      <h2>How to setup your kindle</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>How to do something else</h2>
    </div>
    <div class="col">[Nice info graphic]</div>
  </div>
</div>